$bgColor: #141B1F;
$background: #1e252a;
$default: rgb(226, 221, 221);
$extras: #FFF486;
$grey: rgb(187, 184, 184);
$poppins: 'Poppins', sans-serif;
$inconsolata: 'Inconsolata', monospace;
$dynaPuff: 'DynaPuff', cursive;
$ubuntu: 'Ubuntu Mono', monospace