@-webkit-keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: rotate(30deg);
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: rotate(30deg);
  }
}
@-webkit-keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-snap-align: start;
  scroll-padding-top: 15vh;
}

html, body {
  margin: auto;
  scroll-behavior: smooth;
  font-family: "Inconsolata", monospace;
  width: 100%;
  height: 100%;
  color: rgb(226, 221, 221);
  background-color: #141B1F;
  line-height: 1.6;
  word-wrap: break-word;
  overflow-x: hidden;
}

a {
  color: rgb(226, 221, 221);
  text-decoration: none;
  text-transform: uppercase;
  cursor: popoppins;
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul {
  list-style-type: none;
}

div,
button,
h1, h2, h3, h4, h5, h6,
span, p {
  margin: 0;
}

h1 {
  font-family: "DynaPuff", cursive;
  text-transform: uppercase;
  font-size: 6rem;
}
@media only screen and (max-width: 820px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 820px) {
  h2 {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 1300px) {
  h2 {
    font-size: 1.3rem;
  }
}

h3 {
  font-family: "Ubuntu Mono", monospace;
  text-transform: capitalize;
  font-size: 1.3rem;
}

h4 {
  text-transform: capitalize;
  font-family: "Inconsolata", monospace;
  font-size: 1rem;
}
@media only screen and (max-width: 820px) {
  h4 {
    font-size: 0.8rem;
  }
}

p {
  text-align: justify;
}

span {
  color: rgb(187, 184, 184);
  font-size: 1.5rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  gap: 1rem;
  margin: 0;
  padding: 0;
  height: 35vh;
  background-color: rgb(226, 221, 221);
  color: #1e252a;
  text-align: center;
}
header p {
  text-align: center;
  width: 60%;
  margin-top: -3rem;
}
@media only screen and (max-width: 820px) {
  header p {
    width: 90%;
    margin: -1rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.main #container {
  width: 70%;
  margin: auto;
  margin: auto;
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-flow: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1300px) {
  .main #container {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 820px) {
  .main #container {
    grid-template-columns: 1fr;
  }
}

.card {
  position: relative;
  margin: auto;
  padding: 0.5rem;
  width: 380px;
  height: 610px;
  border: solid rgb(187, 184, 184);
  border-radius: 1rem;
  transition: 1000ms all;
}
.card img {
  width: 100%;
  margin: auto;
  z-index: -1;
}
.card .status, .card .status--unknown, .card .status--dead, .card .status--alive {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  padding-inline: 0.5rem;
  font-size: 1.5rem;
  background: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  text-transform: uppercase;
}
.card .status--alive {
  color: green;
}
.card .status--dead {
  color: red;
}
.card .status--unknown {
  color: #1e252a;
}
.card h2 {
  text-align: center;
}
.card .card--details {
  letter-spacing: 2px;
}
.card .card--details span {
  font-size: 1.15rem;
  color: rgb(187, 184, 184);
}

.card:hover {
  transform: scale(1.05);
}

.footer {
  width: 70%;
  margin: auto;
}
.footer p {
  text-align: center;
  margin: auto;
}/*# sourceMappingURL=style.css.map */